<section class="bg-tomato form shadow">
  <div class="container">
    <div class="row">
      <div class="col-md-12 mt-5">
        <h5 class="form-heading border-bottom border-white">
          Representation Registration
        </h5>
        <div class="card mt-3 rounded-0">
          <div class="row justify-content-center">
            <div class="col-md-12 p-5">
              <form
                [formGroup]="registrationForm"
                (ngSubmit)="onSubmit()"
                class="row"
              >
                <div class="mb-3 col-md-4">
                  <label class="form-label"
                    >Name<span style="color: red">*</span></label
                  >
                  <input
                    type="text"
                    formControlName="name"
                    class="form-control"
                  />
                  <div
                    *ngIf="
                      registrationForm.get('name')?.invalid &&
                      registrationForm.get('name')?.touched
                    "
                    class="text-danger"
                  >
                    <div
                      *ngIf="registrationForm.get('name')?.errors?.['required']"
                    >
                      Name is required.
                    </div>
                    <div
                      *ngIf="registrationForm.get('name')?.errors?.['pattern']"
                    >
                      Name must contain only alphabets and spaces.
                    </div>
                    <div
                      *ngIf="registrationForm.get('name')?.errors?.['maxlength']"
                    >
                      Name cannot be more than 50 characters.
                    </div>
                  </div>
                </div>

                <div class="mb-3 col-md-4">
                  <label class="form-label"
                    >Constituency<span style="color: red">*</span></label
                  >
                  <select formControlName="constituency" class="form-control">
                    <option value="" [disabled]="true" selected>
                      --Select Constituency--
                    </option>
                    <option>Machilipatnam</option>
                  </select>
                  <div
                    *ngIf="
                      registrationForm.get('constituency')?.invalid &&
                      registrationForm.get('constituency')?.touched
                    "
                    class="text-danger"
                  >
                    Constituency is required.
                  </div>
                </div>

                <div class="mb-3 col-md-4">
                  <label class="form-label"
                    >Mandal<span style="color: red">*</span></label
                  >
                  <select formControlName="mandal" class="form-control">
                    <option value="" [disabled]="true" selected>
                      -- Select Mandal --
                    </option>
                    <option *ngFor="let mandal of mandalList" [value]="mandal">
                      {{ mandal }}
                    </option>
                  </select>
                  <div
                    *ngIf="
                      registrationForm.get('mandal')?.invalid &&
                      registrationForm.get('mandal')?.touched
                    "
                    class="text-danger"
                  >
                    Mandal is required.
                  </div>
                </div>

                <div class="mb-3 col-md-4">
                  <label class="form-label"
                    >Urban/Rural<span style="color: red">*</span></label
                  >
                  <select
                    formControlName="urban"
                    class="form-control"
                    (click)="resetValidaors($event)"
                  >
                    <option value="" [disabled]="true" selected>
                      --Select--
                    </option>
                    <option value="rural">rural</option>
                    <option value="urban">Urban</option>
                  </select>
                  <div
                    *ngIf="
                      registrationForm.get('urban')?.invalid &&
                      registrationForm.get('urban')?.touched
                    "
                    class="text-danger"
                  >
                    select Rural/Urban
                  </div>
                </div>

                <!-- <div class="mb-3 col-md-4">
                  <label class="form-label"
                    >Issues<span style="color: red">*</span></label
                  >
                  <select formControlName="issue" class="form-control">
                    <option value="" [disabled]="true" selected>
                      --Select--
                    </option>
                    <option>Panchayath</option>
                    <option>Muncipality</option>
                  </select>
                  <div
                    *ngIf="
                      registrationForm.get('issue')?.invalid &&
                      registrationForm.get('issue')?.touched
                    "
                    class="text-danger"
                  >
                    select Issue
                  </div>
                </div> -->

                <input type="hidden" formControlName="division" />

                <ng-container *ngIf="registrationForm.value.urban === 'urban'">
                  <div class="mb-3 col-md-4">
                    <label class="form-label"
                      >Urban Issues<span style="color: red">*</span></label
                    >
                    <select formControlName="urbanIssue" class="form-control">
                      <option value="" [disabled]="true" selected>
                        --Select--
                      </option>
                      <option>Drinking water issue</option>
                      <option>sanitization issue</option>
                      <option>Roads</option>
                    </select>
                    <div
                      *ngIf="
                        registrationForm.get('urbanIssue')?.invalid &&
                        registrationForm.get('urbanIssue')?.touched
                      "
                      class="text-danger"
                    >
                      select urban issue
                    </div>
                  </div>
                </ng-container>

                <ng-container *ngIf="registrationForm.value.urban === 'rural'">
                  <div class="mb-3 col-md-4">
                    <label class="form-label"
                      >Rural Issues<span style="color: red">*</span></label
                    >
                    <select formControlName="ruralIssue" class="form-control">
                      <option value="" [disabled]="true" selected>
                        --Select--
                      </option>
                      <option>Drinking water issue</option>
                      <option>sanitization issue</option>
                      <option>Roads</option>
                    </select>
                    <div
                      *ngIf="
                        registrationForm.get('ruralIssue')?.invalid &&
                        registrationForm.get('ruralIssue')?.touched
                      "
                      class="text-danger"
                    >
                      select rural issue
                    </div>
                  </div>
                </ng-container>
                <div class="mb-3 col-md-4">
                  <label class="form-label"
                    >Village<span style="color: red">*</span></label
                  >
                  <!-- <select formControlName="village" class="form-control">
                    <option value="">Select Village</option>
                    <option
                      *ngFor="let village of filteredVillages"
                      [value]="village"
                    >
                      {{ village }}
                    </option>
                  </select> -->
                  <input
                    type="text"
                    formControlName="village"
                    class="form-control"
                  />
                  <div
                    *ngIf="
                      registrationForm.get('village')?.invalid &&
                      registrationForm.get('village')?.touched
                    "
                    class="text-danger"
                  >
                    Village is required.
                  </div>
                </div>

                <div class="mb-3 col-md-4">
                  <label class="form-label"
                    >Gender<span style="color: red">*</span></label
                  >
                  <select formControlName="gender" class="form-control">
                    <option value="">Select Gender</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                    <option value="Other">Other</option>
                  </select>
                  <div
                    *ngIf="
                      registrationForm.get('gender')?.invalid &&
                      registrationForm.get('gender')?.touched
                    "
                    class="text-danger"
                  >
                    Gender is required.
                  </div>
                </div>

                <div class="mb-3 col-md-4">
                  <label class="form-label"
                    >Mobile<span style="color: red">*</span></label
                  >
                  <input
                    type="text"
                    formControlName="mobile"
                    class="form-control"
                    maxlength="10"
                    pattern="[0-9]*"
                    (input)="onMobileInput($event)"
                    inputmode="numeric"
                  />
                  <div
                    *ngIf="
                      registrationForm.get('mobile')?.invalid &&
                      registrationForm.get('mobile')?.touched
                    "
                    class="text-danger"
                  >
                    <div
                      *ngIf="registrationForm.get('mobile')?.errors?.['required']"
                    >
                      Mobile number is required.
                    </div>
                    <div
                      *ngIf="registrationForm.get('mobile')?.errors?.['pattern']"
                    >
                      Mobile number must be 10 digits long.
                    </div>
                  </div>
                </div>

                <div class="mb-3 col-md-4">
                  <label class="form-label"
                    >Aadhar<span style="color: red">*</span></label
                  >
                  <input
                    type="text"
                    formControlName="aadhar"
                    class="form-control"
                    maxlength="12"
                    pattern="[0-9]*"
                    (input)="onAadharInput($event)"
                    inputmode="numeric"
                  />
                  <div
                    *ngIf="
                      registrationForm.get('aadhar')?.invalid &&
                      registrationForm.get('aadhar')?.touched
                    "
                    class="text-danger"
                  >
                    <div
                      *ngIf="registrationForm.get('aadhar')?.errors?.['required']"
                    >
                      Aadhar number is required.
                    </div>
                    <div
                      *ngIf="registrationForm.get('aadhar')?.errors?.['pattern']"
                    >
                      Aadhar number must be 12 digits long.
                    </div>
                  </div>
                </div>

                <div class="mb-3 col-md-4">
                  <label class="form-label"
                    >Upload<span style="color: red">*</span></label
                  >
                  <input
                    id="fileInput"
                    class="form-control"
                    type="file"
                    (change)="onFileChange($event)"
                  />
                  <div *ngIf="fileError" class="text-danger">
                    {{ fileError }}
                  </div>
                </div>

                <div class="mb-3 col-md-4">
                  <label class="form-label"
                    >Brief of Representation
                    <span style="color: red">*</span></label
                  >
                  <textarea
                    class="form-control"
                    formControlName="meetingAgenda"
                    placeholder="Type your message here ......"
                    rows="1"
                  ></textarea>
                  <div
                    *ngIf="
                      registrationForm.get('meetingAgenda')?.invalid &&
                      registrationForm.get('meetingAgenda')?.touched
                    "
                    class="text-danger"
                  >
                    <div
                      *ngIf="registrationForm.get('meetingAgenda')?.errors?.['required']"
                    >
                      Meeting Agenda is required.
                    </div>
                    <div
                      *ngIf="registrationForm.get('meetingAgenda')?.errors?.['minlength']"
                    >
                      Meeting Agenda must be at least 10 characters long.
                    </div>
                    <div
                      *ngIf="registrationForm.get('meetingAgenda')?.errors?.['maxlength']"
                    >
                      Meeting Agenda cannot be more than 1000 characters.
                    </div>
                  </div>
                </div>

                <div class="col-md-12">
                  <button type="submit" class="btn btn-danger">Submit</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
