<section class="landing-page">
  <div class="container">
    <div class="row align-items-end">
      <div class="col-md-9">
        <div
          class="ministers d-flex align-items-end ps-5 pe-5 text-center"
          style="margin-bottom: -2px"
        >
          <div>
            <img src="assets/images/bod/cbn.png" alt="" class="minister-img" />
          </div>
          <div>
            <img
              src="assets/images/bod/ap-map.png"
              alt=""
              class="minister-img map"
            />
          </div>
          <div>
            <img
              src="assets/images/bod/kravi.png"
              alt=""
              class="minister-img"
            />
          </div>
        </div>
        <div class="rectangle">
          <div class="row">
            <div class="col-md-5 text-center">
              <h5>Sri Nara Chandrababu Naidu</h5>
              <p>
                Hon'ble Chief Minister, <br />
                Government of Andhra Pradesh
              </p>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-5 text-center">
              <h5>Sri Kollu Ravindra</h5>
              <p>
                Minister for Mines, Geology and Excise Government of Andhra
                Pradesh
              </p>
            </div>
          </div>
        </div>
        <div class="carousel_custom mt-4">
          <div class="row">
            <div class="col-md-3">
              <img
                src="assets/images/carousel/image (1).png"
                alt=""
                class="w-100"
              />
            </div>
            <div class="col-md-3">
              <img
                src="assets/images/carousel/image (2).png"
                alt=""
                class="w-100"
              />
            </div>
            <div class="col-md-3">
              <img
                src="assets/images/carousel/image (3).png"
                alt=""
                class="w-100"
              />
            </div>
            <div class="col-md-3">
              <img
                src="assets/images/carousel/image (4).png"
                alt=""
                class="w-100"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 mt-5">
        <div class="tab-card">
          <div class="row align-items-center">
            <div class="col-md-8">
              <img
                src="assets/images/icons/work-done.png"
                alt=""
                class="w-auto"
              />
              <h4>Work Done in Constituency</h4>
            </div>
            <div class="col-md-4">
              <h6>300 Cr</h6>
            </div>
          </div>
        </div>
        <div class="tab-card">
          <div class="row align-items-center">
            <div class="col-md-8">
              <img
                src="assets/images/icons/meetings.png"
                alt=""
                class="w-auto"
              />
              <h4>Meetings Conducted</h4>
            </div>
            <div class="col-md-4">
              <h6>300 Cr</h6>
            </div>
          </div>
        </div>
        <div class="tab-card">
          <div class="row align-items-center">
            <div class="col-md-8">
              <img
                src="assets/images/icons/representation.png"
                alt=""
                class="w-auto"
              />
              <h4>Representation Redressed</h4>
            </div>
            <div class="col-md-4">
              <h6>300 Cr</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
