<div class="sidenav">
  <a [routerLink]="['/apsche/state/phd-scholars']" [routerLinkActive]="'active'"
    >PhD Scholars</a
  >
  <a [routerLink]="['/apsche/state/phd-faculty']" [routerLinkActive]="'active'"
    >Faculty with PhD</a
  >
  <a [routerLink]="['/apsche/state/publications']" [routerLinkActive]="'active'"
    >Research Publications</a
  >
  <a [routerLink]="['/apsche/state/citations']" [routerLinkActive]="'active'"
    >Citations</a
  >
  <a [routerLink]="['/apsche/state/patents']" [routerLinkActive]="'active'"
    >Patents</a
  >
  <a [routerLink]="['/apsche/state/grants']" [routerLinkActive]="'active'"
    >Grants and Fundings</a
  >
  <a
    [routerLink]="['/apsche/state/incubation-centres']"
    [routerLinkActive]="'active'"
    >Incubation Centres</a
  >
</div>
<ng-content></ng-content>
