<header>
  <div class="main-header container">
    <div class="justify-content-between align-items-center d-flex">
      <a class="navbar-brand" href="#">
        <img src="assets/images/logo/govt-emblem.png" alt="" />
      </a>
      <a class="navbar-brand" href="#">
        <img src="assets/images/logo/kolu-text.png" alt="" />
      </a>
      <div>
        <a class="navbar-brand" href="#">
          <img src="assets/images/logo/pawan-kalyan.png" alt="" />
        </a>
        <a class="navbar-brand" href="#">
          <img src="assets/images/logo/lokesh.png" alt="" />
        </a>
      </div>
    </div>
  </div>
  <nav class="navbar navbar-expand-lg navbar-bg main-nav">
    <div class="container">
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul
          class="navbar-nav m-auto mb-2 mb-lg-0 w-100 align-items-center justify-content-between"
        >
          <li class="nav-item">
            <a href="index.html">
              <img src="assets/images/icons/home.png" alt="" class="ms-4" />
            </a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <img src="assets/images/icons/mines.png" alt="" /> Mines & Geology
            </a>
            <ul class="border-0 rounded-0 dropdown-menu shadow">
              <li>
                <a
                  class="dropdown-item"
                  target="_blank"
                  href="https://www.mines.ap.gov.in/"
                  >About Mines & Geology</a
                >
              </li>
              <li>
                <a
                  class="dropdown-item"
                  target="_blank"
                  href="https://apmdc.ap.gov.in/"
                  >About APMDC</a
                >
              </li>
              <li>
                <a class="dropdown-item" routerLink="/app/mines/form"
                  >Mines Representation Registration</a
                >
              </li>
              <li>
                <a class="dropdown-item" routerLink="/app/mines/meeting-form"
                  >Schedule a Meeting</a
                >
              </li>
              <li><a class="dropdown-item" href="#">Gallery</a></li>
              <li>
                <a class="dropdown-item" routerLink="/app/mines-reg-dashboard"
                  >Mines Representation Dashboard</a
                >
              </li>
              <li>
                <a class="dropdown-item" routerLink="/app/dashboard"
                  >Mines & Geology Meeting Dashboard</a
                >
              </li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <img src="assets/images/icons/excise.png" alt="" /> Excise
            </a>
            <ul class="border-0 rounded-0 dropdown-menu shadow">
              <li>
                <a
                  class="dropdown-item"
                  target="_blank"
                  href="http://cpe.ap.gov.in/EeGP/api/loginPage"
                  >About Excise Department</a
                >
              </li>
              <li>
                <a class="dropdown-item" routerLink="/app/excise/form">
                  Excise Representation Registration</a
                >
              </li>
              <li>
                <a class="dropdown-item" routerLink="/app/excise/meeting-form"
                  >Schedule Meeting</a
                >
              </li>
              <li><a class="dropdown-item" href="#">Gallery</a></li>
              <li>
                <a class="dropdown-item" routerLink="/app/excise-reg-dashboard"
                  >Excise Representation Dashboard</a
                >
              </li>
              <li>
                <a class="dropdown-item" routerLink="/app/dashboard"
                  >Excise Meeting Dashboard</a
                >
              </li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <img src="assets/images/icons/Constituency.png" alt="" />
              Constituency
            </a>
            <ul class="border-0 rounded-0 dropdown-menu shadow">
              <li>
                <a
                  class="dropdown-item"
                  target="_blank"
                  href="https://en.wikipedia.org/wiki/Machilipatnam_Assembly_constituency"
                  >About Machilipatnam Constituency</a
                >
              </li>
              <li>
                <a class="dropdown-item" href="#"
                  >Welfare Schemes being implemented</a
                >
              </li>
              <li>
                <a
                  class="dropdown-item"
                  target="_blank"
                  href="/assets/pdf/Collectors Conference Notes JC1212.pdf"
                  >On going Projects</a
                >
              </li>
              <li>
                <a class="dropdown-item" routerLink="/app/constituency/form"
                  >Representation Registration</a
                >
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/app/constituency/meeting-form"
                  >Schedule a Meeting</a
                >
              </li>
              <li><a class="dropdown-item" href="#">Departments</a></li>
              <!-- <li>
                <a class="dropdown-item" routerLink="/app/const-reg-dashboard"
                  >Constituency Representation Dashboard</a
                >
              </li>
              <li>
                <a class="dropdown-item" routerLink="/app/dashboard"
                  >Constituency Meeting Dashboard</a
                >
              </li> -->
              <li>
                <a class="dropdown-item" routerLink="/auth/login"
                  >Admin Login</a
                >
              </li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <img src="assets/images/icons/others.png" alt="" /> Others
            </a>
            <ul class="border-0 rounded-0 dropdown-menu shadow">
              <li><a class="dropdown-item" href="#">Grievance</a></li>
              <li><a class="dropdown-item" href="#">Schedule Meeting</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <img src="assets/images/icons/media.png" alt="" /> Media
            </a>
            <ul class="border-0 rounded-0 dropdown-menu shadow">
              <li>
                <a class="dropdown-item" href="#">Photo with My Leader</a>
              </li>
              <li><a class="dropdown-item" href="#">Images</a></li>
              <li><a class="dropdown-item" href="#">Videos</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
