<div class="sidebar">
  <a title="Vessel Registrations" class="d-flex align-items-center active"
    ><img src="assets/images/dashboard.png" class="me-2" /><span>
      Dashboard</span
    ></a
  >
</div>
<div class="section">
  <div class="row home-card-container">
    <div class="col-md-4 col-sm-12">
      <div class="card home-card">
        <img src="assets/images/Panchayath.png" />
        <h4>Panchayath</h4>
        <div class="d-flex justify-content-end">
          <a
            routerLink="/app/const-reg-dashboard"
            type="button"
            class="btn dashboard-btn"
            tabindex="0"
          >
            Click Here
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-12">
      <div class="card home-card">
        <img src="assets/images/Urban.png" />
        <h4>Urban</h4>
        <div class="d-flex justify-content-end">
          <a
            href="/department-count.html"
            type="button"
            class="btn dashboard-btn"
            tabindex="0"
          >
            Click Here
          </a>
        </div>
      </div>
    </div>

    <div class="col-md-4 col-sm-12">
      <div class="card home-card">
        <img src="assets/images/Pension.png" />
        <h4>Pensions</h4>
        <p></p>
        <div class="d-flex justify-content-end">
          <a
            href="/department-count.html"
            type="button"
            class="btn dashboard-btn"
            tabindex="0"
          >
            Click Here
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-12">
      <div class="card home-card">
        <img src="assets/images/Fund.png" />
        <h4>CM Relief fund</h4>
        <p></p>
        <div class="d-flex justify-content-end">
          <a
            href="/department-count.html"
            type="button"
            class="btn dashboard-btn"
            tabindex="0"
          >
            Click Here
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-12">
      <div class="card home-card">
        <img src="assets/images/CSR.png" />
        <h4>CSR</h4>
        <p></p>
        <div class="d-flex justify-content-end">
          <a
            href="/department-count.html"
            type="button"
            class="btn dashboard-btn"
            tabindex="0"
          >
            Click Here
          </a>
        </div>
      </div>
    </div>
    <!-- <div class="col-md-6 col-sm-12">
    <div class="card home-card"><img src="/images/Legal.png">
        <h4>Super 6</h4>
        <p></p>
        <div class="d-flex justify-content-end"><a href="/department-count.html" type="button"
                class="btn dashboard-btn" tabindex="0">
                Click Here </a>
        </div>
    </div>
</div> -->
  </div>
</div>

<app-scroll></app-scroll>
